<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webcc.mapper.StuuserMapper" >

  <resultMap id="BaseResultMap" type="com.webcc.model.Stuuser" >
    <id column="id" property="id"/>
    <result column="stuName" property="stuname" jdbcType="VARCHAR" />
    <result column="stuNo" property="stuno" jdbcType="VARCHAR" />
    <result column="stuSex" property="stusex" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
  </resultMap>


  <select id="selectByName" parameterType="java.lang.String" resultType="java.lang.String">
    select pwd FROM tb_stuuser WHERE stuNo = #{username}
  </select>

  <select id="selectStuByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from tb_stuuser where stuNo = #{stuNo}
  </select>

  <select id="selectStuList" resultMap="BaseResultMap">
    select * from tb_stuuser
  </select>

  <select id="selectStuById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from tb_stuuser WHERE id = #{stuid}
  </select>

  <update id="updateStuInfo" parameterType="com.webcc.model.Stuuser" >
    update tb_stuuser set
    stuSex = #{stusex,jdbcType=INTEGER},
    birthday = #{birthday,jdbcType=DATE},
    tel = #{tel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectIdByMap" parameterType="map" resultType="Long">
    select id from tb_stuuser where pwd = #{pwd} and stuNo = #{useNo}
  </select>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stuName, stuNo, stuSex, birthday, tel, pwd
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.webcc.model.StuuserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_stuuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_stuuser
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_stuuser
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.webcc.model.StuuserExample" >
    delete from tb_stuuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.webcc.model.Stuuser" >
    insert into tb_stuuser (id, stuName, stuNo, 
      stuSex, birthday, tel, 
      pwd)
    values (#{id,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{stuno,jdbcType=VARCHAR}, 
      #{stusex,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{tel,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.webcc.model.Stuuser" >
    insert into tb_stuuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stuname != null" >
        stuName,
      </if>
      <if test="stuno != null" >
        stuNo,
      </if>
      <if test="stusex != null" >
        stuSex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuname != null" >
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stuno != null" >
        #{stuno,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null" >
        #{stusex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.webcc.model.StuuserExample" resultType="java.lang.Long" >
    select count(*) from tb_stuuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_stuuser
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stuname != null" >
        stuName = #{record.stuname,jdbcType=VARCHAR},
      </if>
      <if test="record.stuno != null" >
        stuNo = #{record.stuno,jdbcType=VARCHAR},
      </if>
      <if test="record.stusex != null" >
        stuSex = #{record.stusex,jdbcType=INTEGER},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=DATE},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.pwd != null" >
        pwd = #{record.pwd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_stuuser
    set id = #{record.id,jdbcType=INTEGER},
      stuName = #{record.stuname,jdbcType=VARCHAR},
      stuNo = #{record.stuno,jdbcType=VARCHAR},
      stuSex = #{record.stusex,jdbcType=INTEGER},
      birthday = #{record.birthday,jdbcType=DATE},
      tel = #{record.tel,jdbcType=VARCHAR},
      pwd = #{record.pwd,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.webcc.model.Stuuser" >
    update tb_stuuser
    <set >
      <if test="stuname != null" >
        stuName = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stuno != null" >
        stuNo = #{stuno,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null" >
        stuSex = #{stusex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.webcc.model.Stuuser" >
    update tb_stuuser
    set stuName = #{stuname,jdbcType=VARCHAR},
      stuNo = #{stuno,jdbcType=VARCHAR},
      stuSex = #{stusex,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      tel = #{tel,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR}
    where id = #{id}
  </update>



</mapper>